.buyCoin {
  text-align: center;
}

.title {
  font-size: 30px;
}

.red {
  color: #ff4d4f;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.text {
  font-size: 20px;
}

.input {
  width: 100%;
}
