.container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.wallet {
  font-size: 40px;
  cursor: pointer;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.textFixed {
  font-size: 18px;
  color: #ff4d4f;
  width: 300px;
}


.positive {
  color: green;
}

.negative {
  color: #ff4d4f;
}
